<h1>Blog App</h1>
<ul>
    <% @blogs.each do |blog| %>
        <li> <%= link_to blog.title, blog_path(blog) %> </li>
    <% end %>
</ul>
<br>
<h4> <%= link_to 'Add a new Blog Post', new_blog_path %> </h4>